# Visual Studio files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.vs/

# Build artifacts
x64/
Debug/
Release/
Debug/
Intermediate/
[Xx]64/
[Xx]86/



# Other project-specific exclusions
kernela/
